.body{
 width:100%;
 margin: auto;
 background-image: #4DB4D7;
}
.zero
 {
 width:100%;
 margin: auto;
 background-color: #E3E3E3;
 }
 .one
 {
 height:100px;
 width:90%;
 margin: auto;
 align-content: center;
	 background-color: #9AD3ED;
 }
 .two
 {
 height:700px;
 width:90%;
 margin: auto;
 display: flex;
	 background-color: #9AD3ED;
 }
 .three
 {
 height:200px;
 width:90%;
 margin: auto;
 align-content: center;
	 background-color: #9AD3ED;
 }
 .four
 {
 height:100%;
 margin:auto;
 flex-grow: 7;
 align-content: center;
	 background-color: #9AD3ED;
 }
 .five
 {
 height:100%;
 margin:auto;
 flex-grow: 1;
	 align-content: center;
	 background-color: #95D8EB;
 }
 .six
 {
 height:49%;
 width:100%;
 align-content: center;
 

 display:flex;
	 background-color: #6AACC7;
 }

 .seven
 {
 height:50%;
 width:100%;
 align-content: center;
	 background-color: #6AACC7;
 }
 .mysite{
 resize: vertical;
 resize: horizontal;
 }
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button
{

	display: flex;
	align-items: center;
  justify-content: center;
	  background-color: #000080;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.test
{
	margin-left: 1500px;
}
.test2
{
	border: solid black 1px;
	margin-left: 170px;
	float: left
}
.test3
{
	border: solid black 2px;
}
.test4
{
	border: solid black 1px;
	 
	float: right;
}
.dropdown a:hover {background-color: #f1f1f1;}

.show {display:block;}
.button
{
 flex-grow:1;

}


@-ms-viewport{
  width: device-width;
}

.wrapper {
  display: inline-block;
}


#map {
  height: 425px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
	
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
	
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 150px;
	
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
	height: 30px;
	border: solid black 1px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
